.dnd-drag-start {
    -moz-transform:scale(0.8);
    -webkit-transform:scale(0.8);
    transform:scale(0.8);
    opacity:0.7;
    border: 2px dashed #000;
}

.dnd-drag-enter {
    opacity:0.7;
    border: 2px dashed #000;
}

.dnd-drag-over {
    border: 2px dashed #000;
}

.dnd-sortable-drag {
  -moz-transform:scale(0.9);
  -webkit-transform:scale(0.9);
  transform:scale(0.9);
  opacity:0;
  background-color: grey !important;
  color: grey !important;
  border: 1px dashed #000;
}

body {
    font-family: Arial,Helvetica,sans-serif;
    margin: 0 !important;
}
.header {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 30px;
    padding: 5px;
    background: #026AA7 url('./images/header-logo.png') no-repeat 50% 50%;
}
.header_list {
    margin-bottom: 10px; 
}
.content {
    background-color: #0079BF;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 40px;
}
.lists {
    width: auto;
    margin-top: 0;
    padding-left: 5px;
    white-space: nowrap;
}
.list {
    font-size: 18px;
    white-space: normal;
    vertical-align: top;
    margin: 5px;
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
    width: auto;
    background-color: #E2E4E6;
}
form {
    display: inline-block;
}
input {
    display: block;
}
input[name="newList"], input[name="newCard"], input[name="newBoard"] {
    padding-left: 5px; 
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid #AAAAAA;
}
textarea {
    overflow: hidden;
}
textarea:focus {
    overflow: auto;
}
textarea[name="list_name"], textarea[name="current_board_name"], textarea[name="current_card_name"], textarea[name="current_card_description"] {
    padding-left: 8px;
    display: inline-block;
    font: 18px Arial,Helvetica,sans-serif;
    border: 0;
    resize:none;
    background-color: transparent;
}
textarea[name="current_board_name"] {
    text-align: center;
	display: block;
	padding-left: 16px;
	padding-right: 0;
}
textarea[name="list_name"] {
	max-width: 230px;
}
textarea[name="current_board_name"] {
    margin: 0 auto;
    color: white;
    font: 18px Arial,Helvetica,sans-serif;
    font-weight: 700;
}
textarea[name="current_card_name"] {
	max-width: 690px;
	display: block;
}
textarea[name="current_card_description"] {
	width: 430px;
}
textarea[name="current_card_description"]{
	overflow:auto;
}
textarea[name="list_name"]:focus, textarea[name="current_board_name"]:focus, textarea[name="current_card_name"]:focus, textarea[name="current_card_description"]:focus{
    background-color: white;
}
textarea[name="current_board_name"]:focus {
    color: black;
}
.add_button{
    background-color: #61BD4F;
    color: white;
    padding: 5px;
    font-weight: 700;
    border: 0;
    padding: 7px 20px;
    border-radius: 2px;
}
.delete {
    cursor: pointer;
    height: 18px;
    width: 18px;
    background: #CDD2D4 url("./images/cross.png") no-repeat 50% 50%;
    display: inline-block;
    float: right;
    margin-top: 3px;
    margin-right: 3px;
    border-radius: 2px;
}
.delete:hover {
    background-color: #c7ccce;
}
.card_name {
    overflow: hidden;
}
.cards li, .boards li {
    display: block;
}
.cards {
    padding: 0;
}
.cards li:last-child {
    margin-top: 10px;
}
.cards li:first-child {
    margin-top: 0px;
}
.card {
    z-index: 5;
    width: 260px;
    background-color: white;
    margin-bottom: 6px;
    border-radius: 3px;
    cursor: pointer;
    padding: 6px 6px 2px 8px;
}
a {
    text-decoration: none;
    display: inline-block;
}
.card a {
    width: 100%;
    color: black;
}
.card_date {
    display: inline-block;
    color: #8D8D8D;
    font: 12px Arial,Helvetica,sans-serif;
}
.card_name {
    overflow: hidden;
}
.boards_button {
    font: 14px Arial,Helvetica,sans-serif;
    display: inline-block;
    width: 90px;
    height: 30px;
    background-color: #4D85B3;
    cursor: pointer;
    border-radius: 3px;
}
.boards_button:hover {
    background-color: #4F96BF;
}
.boards_button_icon {
    display: inline-block;
    margin: 0;
    width: 30px;
    height: 30px;
    background: transparent url('./images/tab-icon.png') no-repeat 50% 50%;
}
.boards_button_text {    
    margin-top: 1px;
    font-weight: 600;
    margin-right: 10px;
    float: right;
    line-height: 30px;
    color: white;
}
.current_board {
    color: white;
    margin: 15px; 
}
.boards {
    position: absolute;
    cursor: default;
    border-radius: 3px;
    padding: 20px 10px 10px;
    margin-top: -4px;
    background-color: white;
    line-height: 20px;
    display: none;
}
.boards_button:hover .boards {
    display: block;
}
.boards li {
    cursor: pointer;
    padding: 5px;
    border-radius: 2px;
    margin-bottom: 5px;
    width: auto;
    min-height: 20px;
    background-color: #E2E4E6;
}
.boards li:last-child {
    margin-bottom: 0;
}
.boards li:hover {
    background-color: #C7CCCE;
}
.no_board {
    text-align: center;
}
.add_first_board_text {
    font: 18px Arial,Helvetica,sans-serif;
    margin: 10px auto;
    color: white;
    width: 300px;
    font-weight: 700;
}
.add_first_board {
    padding: 10px;
    border-radius: 3px;
    background-color: #E2E4E6;
    display: block;
    text-align: center;
}
.window_overlay {
    background-color: rgba(0,0,0,.6);
    display: none;
    /*display: flex;*/
    z-index: 20;
    position: fixed;
    height: 100%;
    width: 100%;
}
.show {
    display: block;
}
.window {
    position: relative;
    padding: 10px;
    border-radius: 3px;
    margin: 3pc auto 5pc;
    background-color: white;
    width: 730px;
    min-height: 40px;
}
.window_content {
    display: inline-block;
    width: 700px;
    height: 50px;
}
.window_close {
	position: absolute;
	top: 7px;
    right: 7px;
}
.window_text {
    font-weight: bold;
}
.hide {
    opacity: 0;
}
.container {
    width: 200px;
    height: 50px;
    background-color: gray;
}
.draggable {
    /*z-index: 100;*/
}