<div class="header">
  <div class="boards_button">
    <div class="boards_button_icon">
    </div>    
    <div class="boards_button_text">
      <a routerLink="/boards" routerLinkActive="active">Boards
      </a>
    </div>
  </div>
  <div class="login">
    <div *ngIf="login" class="user_name">
      {{login}}
    </div>
    <div class="login_button">
        <a routerLink="/logged-out" routerLinkActive="active">
            Log out
        </a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<div class="content"></div>