<div class="header">
  <a routerLink="/boards" routerLinkActive="active">
    <div class="boards_button">
      <div class="boards_button_icon">
      </div>
        <div class="boards_button_text">
          Boards
        </div>
    </div>
  </a>
  <div class="login">
    <div *ngIf="user" class="user_name">
      {{user.username}}
    </div>
    <div *ngIf="notifications.length" class="notifications">
      <img src="../../assets/images/alarm3.png" class='notifications_icon'>
      <ul class="notification_list">
        <li *ngFor="let notification of notifications; let n = index">
          {{notification.boardName}}
          <ul *ngIf="notification.cards">
            <li *ngFor="let card of notification.cards" class="notification_card" (click)="redirect(notification.boardID, card)">
              <div class="card_name">
                {{card.name}}
              </div>
              <div class="delete" (click)="removeNotification(card, notification)">
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="login_button">
        <a (click)="logOut()" routerLink="/logged-out" routerLinkActive="active">
            Log out
        </a>
    </div>
  </div>
</div>
<modal-window></modal-window>
<router-outlet></router-outlet>
<div class="content"></div>