<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<div class="header">
  <div class="boards_button">
    <div class="boards_button_icon">
    </div>
    <div class="boards_button_text">Boards
    </div>
    <ul class="boards">
      <li *ngFor="let board of boards" (click)="changeBoard(board)">
        {{board.name}}
        <div class="delete" (click)="removeBoard(board)">
        </div>
      </li>
      <li>
        <form class="add_board">
          <div>
            Add a board
          </div>
          <input type="text" name="newBoard" [(ngModel)]="newBoardName" placeholder="New Board">
          <input type="submit" value="Add" (click)="addBoard(newBoardName)" class="add_button">
      </form>
      </li>
    </ul>
  </div>
</div>
<div class="content">
  <div *ngIf="currentBoard" class="show_board">
    <!--<ul class="just_for_check">
      <li *ngFor="let list of currentBoard.lists">
        {{list.name}}
        <ul>
          <li *ngFor="let card of list.cards">
            {{card.name}}
          </li>
        </ul>
      </li>
    </ul>-->
    <div class="current_board">
      <textarea rows=1 cols={{currentBoard.name.length}} name="current_board_name" [(ngModel)]="currentBoard.name" placeholder="Board name"></textarea>
    </div>
    <div>
      <ul class="lists">
        <li *ngFor="let list of currentBoard.lists" class="list"  (click)="showCurrent()">  
          <list [list]="list" [currentBoard]="currentBoard"></list>
        </li>
        <li id="draggable" class="">
          <form class="add_list">
            <div>
              Add a list
            </div>
            <input type="text" name="newList" [(ngModel)]="newName" placeholder="New List">
            <input type="submit" value="Add" (click)="addList(newName)" class="add_button">
          </form>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="!currentBoard" class="no_board">
    <div class="add_first_board_text">
      There is no board. Please, add one.
    </div>
    <form class="add_first_board">
          <div>
            Add a board
          </div>
          <input type="text" name="newBoard" [(ngModel)]="newBoardName" placeholder="New Board">
          <input type="submit" value="Add" (click)="addBoard(newBoardName)" class="add_button">
      </form>
  </div>
</div>
<div class="window_overlay" id="window_overlay">
  <div class="window">
	<div class="window_text">
		Name:
	</div>
	<textarea rows=1 cols={{currentCard.name.length+2}} name="current_card_name" [(ngModel)]="currentCard.name" placeholder="Card name"></textarea>	
	<div class="window_text">
		Description:
	</div>
	<textarea rows=4 name="current_card_description" [(ngModel)]="currentCard.description" placeholder="Card desctiption"></textarea>
    <div class="delete window_close" (click)="hideDetails()">
    </div>
  </div>
</div>
<div id="footer">
</div>
