<div class="login_container">
    <div class="login">
        <h1>
            Reset your password
        </h1>
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <!--<label>
                E-mail
                <input type="text" name="email" placeholder="E-mail" [(ngModel)]="username">
            </label>-->
            <label>
                New password
                <input type="password" name="newPassword" placeholder="Password" [(ngModel)]="newPassword">
            </label>
            <label>
                Repeat new password
                <input type="password" name="repeatNewPassword" placeholder="Password" [(ngModel)]="repeatNewPassword">
            </label>
            <div class="buttons">
                <input class="green_button" type="submit" value="Reset password">
                <a routerLink="/logged-out" routerLinkActive="active">
                    <div class="blue_button">
                        Back
                    </div>
                </a>
            </div>
        </form>
    </div>
</div>