textarea[name="current_card_name"], textarea[name="current_card_description"], .current_card_name, .current_card_description, textarea[name="new_comment"], textarea[name="comment_content"] {
    padding-left: 8px;
    display: inline-block;
    font: 18px Arial,Helvetica,sans-serif;
    border: 0;
    resize:none;
    background-color: transparent;
}
textarea[name="current_card_name"] {
	max-width: 690px;
	display: block;
    overflow: hidden;
}
textarea[name="comment_content"] {
    padding: 10px;
    margin: 10px 0;
    background-color: white;
}
textarea[name="current_card_description"], textarea[name="new_comment"] {
	width: 430px;
}
textarea {
    color: #4D4D4D;
}
textarea[name="current_card_name"]:focus, textarea[name="current_card_description"]:focus{
    background-color: white;
    overflow: auto;
    color: #4D4D4D;
}
textarea[name="new_comment"] {
    background-color: white;
}
.window_overlay {
    background-color: rgba(0,0,0,.6);
    top: 0;
    z-index: 20;
    position: absolute;
    top: -40px;
    width: 100%;
    min-height: 100%;
}
.window {
    color: #4D4D4D;
    position: relative;
    padding: 10px;
    border-radius: 3px;
    margin: 3pc auto 5pc;
    background-color: #EDEFF0;
    width: 730px;
    min-height: 40px;
}
.window_close {
	position: absolute;
	top: 7px;
    right: 7px;
}
.window_text {
    font-weight: bold;
}
.delete {
    cursor: pointer;
    height: 18px;
    width: 18px;
    background: #CDD2D4 url("../../assets/images/cross.png") no-repeat 50% 50%;
    display: inline-block;
    float: right;
    margin-top: 3px;
    margin-right: 3px;
    border-radius: 2px;
}
.add_button{
    display: block;
    background-color: #61BD4F;
    color: white;
    padding: 5px;
    font-weight: 700;
    border: 0;
    padding: 7px 20px;
    border-radius: 2px;
}
.comments {
    margin-top: 0px;
    padding-left: 10px;
}
.comments li {
    display: block;
    margin-top: 20px;
}
.author {
    font-weight: 700;
}
.content {
    font: 18px Arial,Helvetica,sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    display: inline-block;
    background-color: white;
    padding: 10px;
}
.comment_date {
    color: #8D8D8D;
    font: 12px Arial,Helvetica,sans-serif;
}
.search {
    margin: 0;
    padding: 0;
    background-color: white;
    width: 440px;
    margin-bottom: 20px;
}
.search li {
    padding-left: 20px;
    cursor: pointer;
    display: block;
}
.search li:hover {
    background-color: #CDD2D4;
}