<div class="content">
  <div *ngIf="currentBoard" class="show_board">
    <div class="current_board">
      <textarea *ngIf="(rights=='owner')||(rights=='write')" (focusout)='updateBoard()' rows=1 cols={{currentBoard.name.length+1}} name="current_board_name" [(ngModel)]="currentBoard.name" placeholder="Board name"></textarea>
      <div *ngIf="(rights=='none')||(rights=='read')" class="current_board_name">
        {{currentBoard.name}}
      </div>
    </div>
    <div *ngIf="rights=='owner'" class="add_members">
      +
      <ul class="users">
        <li *ngFor="let nextuser of users" class="user">
          <div class="username">
            {{nextuser.username}}
          </div>
          <button name="read" class="rigths" value="read" (click)="setRights($event, nextuser)">
            Read
          </button>
          <button name="write" class="rigths" value="write" (click)="setRights($event, nextuser)">
            Write
          </button>
          <button name="write" class="rigths" value="none" (click)="setRights($event, nextuser)">
            None
          </button>
        </li>
      </ul>
    </div>
    <div class="members">
    </div>
    <div dnd-sortable-container [dropZones]="['drop-zone1']" [sortableData]="currentBoard.lists">
      <ul class="lists">
        <li *ngFor="let list of currentBoard.lists; let j = index" class="list">
          <list [list]="list" [currentBoard]="currentBoard" [index]="j" [rights]="rights"></list>
        </li>
        <li *ngIf="(rights=='owner')||(rights=='write')" class="list">
          <form class="add_list">
            <div>
              Add a list
            </div>
            <input type="text" name="newList" [(ngModel)]="newName" placeholder="New List">
            <input type="submit" value="Add" (click)="addList()" class="add_button">
          </form>
        </li>
      </ul>
    </div>
  </div>
<modal-window></modal-window>