<div>
    <div class="header_list" dnd-sortable [sortableIndex]="j">
        <textarea rows=1 cols={{list.name.length}} name="list_name" [(ngModel)]="list.name" placeholder="List name"></textarea>
        <div class="delete" (click)="removeList(list)">
        </div>
    </div>
    <div  dnd-sortable-container [dropZones]="['drop-zone']" [sortableData]="list.cards">
        <ul class="cards">
            <li  class="card" *ngFor="let card of list.cards; let i = index" dnd-sortable [sortableIndex]="i" (click)="showDetails(card)">
                <card [card]="card" [list]="list"></card>              
            </li>
            <li>
                <form class="add_card">
                    <div>
                        Add a card
                    </div>
                    <input type="text" name="newCard" [(ngModel)]="newCardName" placeholder="New Card">
                    <input type="submit" value="Add" (click)="addCard(newCardName)" class="add_button">
                </form>
            </li>
        </ul>
    </div>
</div>