<div>
    <div class="header_list">
        <input name="list_name" [(ngModel)]="list.name" placeholder="List name">
        <div class="delete" (click)="removeList(list)">
        </div>
    </div>
    <ul class="cards">
        <li *ngFor="let card of list.cards" class="card">
            <a (click)="showDetails(card, list)">
                <card [card]="card" [list]="list"></card>
            </a>
        </li>
        <li>
            <form class="add_card">
                <div>
                    Add a card
                </div>
                <input type="text" name="newCard" [(ngModel)]="newCardName" placeholder="New Card">
                <input type="submit" value="Add" (click)="addCard(newCardName, currentBoard)" class="add_button">
            </form>
        </li>
    </ul>
</div>