.login_container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0079BF;
}

.login {
    border-radius: 5px;
    padding: 1px 20px 20px;
    background-color: #E2E4E6;
    ;
    width: 400px;
    margin: 40px auto;
    height: auto;
}

input[name='login'],
input[name='password'] {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.green_button {
    background-color: #61BD4F;
    color: white;
    padding: 5px;
    font-weight: 700;
    border: 0;
    padding: 7px 20px;
    border-radius: 2px;
}

.blue_button {
    vertical-align: middle;
    display: inline-block;
    font: 13.3333px Arial;
    color: white;
    font-weight: 800;
    width: 100px;
    height: 22px;
    padding-top: 8px;
    text-align: center;
    border-radius: 2px;
    background-color: blue;
}

.forgot_password {
    margin-left: 10px;
    font-size: 17px;
    display: inline-block;
    color: #9A9A9A;
}

.forgot_password:hover {
    cursor: pointer;
    color: #505050;
}