<div class="login_container">
    <div class="login">
        <h1>
            Sign in
        </h1> 
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <label>
                E-mail
                <input type="text" name="email" placeholder="E-mail" [(ngModel)]="username">
            </label>
            <label>
                Password
                <input type="password" name="password" placeholder="Password" [(ngModel)]="password">
            </label>            
            <div class="buttons">
                <input class="green_button" type="submit" value="Log in">
                <a routerLink="/logged-out" routerLinkActive="active">
                    <div class="blue_button">
                        Back
                    </div>
                </a>
            </div>
        </form>
    </div>
</div>