body {
    background-color: #666699;
}
.main {
    margin: 100px auto;
    width: 1024px;
    height: 923px;
    background-color: white;
    border-radius: 3px;
}
header {
    height: 60px;
    padding-left: 20px;
    border-bottom: 2px solid #E7E9EE;
}
.logo {
    width: 181px;
    display: inline-block;
    line-height: 60px;
}
.logoImage {
    background-color: #5a4dc6;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: inline-block;
}
.bizapp{
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    margin-left: 5px;
    margin-top: -20px;
}
.center {
    display: inline-block;
    line-height: 60px;
    height: 60px;
    width: 624px;
}
.dialogs {
    margin-top: 0px;
    padding-left: 0;
    vertical-align: middle;
    display: inline-block;
    line-height: 60px;
}
#firstDialog {
    width: 128px;
}
.dialogs li{
    display: inline-block;
    margin-left: 20px;
    line-height: 60px;
    height: 60px;
    width: 176px;
}
.dialogIcon {
    background-color: green;
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.center .dialogIcon {
    line-height: 60px;
    vertical-align: middle;
}
.dialogSignature {
    display: inline-block;
    margin-left: 5px;
    font-size: 9px;
    color: #656D78;
    line-height: 60px;
    vertical-align: middle;
}
.close {
    width: 16px;
    height: 16px;
    background-color: #E6E9EE;
    border-radius: 2px;
    margin-left: 5px;
    line-height: 60px;
    vertical-align: middle;
    display: inline-block;
}
.active {
    border-bottom: 2px solid #5a4dc6;
}
.active .dialogSignature {
    color: #5a4dc6;
}
.button {
    box-sizing: border-box;
    right: 0;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #CCD0D9;
    border-radius: 2px;
    float: right;
    line-height: 60px;
    vertical-align: middle;
}
.auth {
    height: 60px;
    width: 160px;
    display: inline-block;
    line-height: 60px;
    margin-top: -22px;
    padding-left: 10px;
}
.status {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid white;
    margin-left: 20px;
    margin-top: 20px;
}
.status.online {
    background-color: #A0D468;
}
.left {
    width: 200px;
    height: 100%;
    background-color: #F6F7Fb;
    border-right: 2px solid #E7E9EE;
    box-sizing: border-box;
    padding: 20px;
}
a {
    text-decoration: none;
    display: inline-block;
}
.auth a {
    float: right;
    margin-top: 7.5px;
}
.auth .dialogSignature {
    margin-top: -15px;
}
.apps {
    font-size: 13px;
    color: #333333;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    display: inline-block;
}

