<div class="author">
    {{comment.author}}
</div>
<div class="comment_date">
    {{comment.date}}
</div>
<div *ngIf="!comment.isEditing" class="content">
    {{comment.content}}
</div>
<textarea *ngIf="comment.isEditing" name="comment_content" [(ngModel)]="comment.content" #editingComment (keyup)="check(editingComment.value, comment, $eventt)"  id={{comment.date}}></textarea>
<div class="buttons">
    <button *ngIf="(comment.author==user)&&(!comment.isEditing)" (click)="editComment(comment)">
        Edit
    </button>
    <button *ngIf="(comment.author==user)&&(comment.isEditing)" (click)="endEditing(comment)">
        Save
    </button>
    <button *ngIf="((comment.author==user)||(rights=='owner'))&&(!comment.isEditing)" (click)="removeComment(comment)">
        Delete
    </button>
    <button *ngIf="((comment.author==user)||(rights=='owner'))&&(comment.isEditing)" (click)="cancelEditing(comment)">
        Cancel
    </button>
</div>